@page "/sobre"

<h3>Sobre</h3>

<p>
	Esta página está sendo desenvolvida pela disciplina de Interface Gráfica com Banco de Dados, ministrada pelo <strong>Professor 
		Liluyoud Cury de Lacerda</strong>
</p>
